<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">
	<select id="select1" resultType="DeptTO">
		select deptno, dname, loc
		from dept
		where deptno = 10
	</select>
	<select id="select2" parameterType="String" resultType="DeptTO">
		select deptno, dname, loc
		from dept
		where deptno = #{deptno}
	</select>
	<select id="select3" parameterType="DeptTO" resultType="DeptTO">
		select deptno, dname, loc
		from dept
		where deptno = #{d} and dname = #{dname}
	</select>
	<select id="select4" resultType="java.util.HashMap">
		select deptno, dname, loc
		from dept
		where deptno = 10
	</select>
	<select id="selectlist1" resultType="DeptTO">
		select deptno, dname, loc
		from dept
	</select>
	<select id="selectlist2" resultType="DeptTO">
		select empno, ename, job
		from emp
		where ename like concat(#{ename},'%')
	</select>
	<select id="selectlist3" resultType="DeptTO">
		select empno, ename, job
		from emp
		where ename like #{ename}
	</select>
	<select id="selectlist4" resultType="java.util.HashMap">
		select empno, ename, job
		from emp
		where ename like #{ename}
	</select>
	<select id="selectlist5" parameterType="int" resultType="DeptTO">
		select empno, ename, sal
		from emp
		where sal >= #{sal}
	</select>
	
	<select id="selectlist6" parameterType="int" resultType="EmpTO">
<!-- 		select empno, ename, sal, grade  -->
<!-- 		from emp e inner join salgrade s  -->
<!-- 		on (e.sal between s.losal and s.hisal)  -->
<!-- 		where deptno = ${deptno} -->
		select empno, ename, sal, grade from emp e, salgrade s where e.sal between s.losal and s.hisal and deptno = ${deptno}
	</select>
</mapper>